/******** CSS RESET *********/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/******** TYPOGRAPHY *********/
h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
}

/********  STYLES  **********/
nav {
  background: #1e2434;
  color: white;
  box-shadow: 0 2px 3px #4e555c, 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

main {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

/***    CHAT    ***/
#chat {
  height: calc(100vh - 100px);
  padding: 60px 10px 0px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll ;
}

/*** INPUT BAR ***/
#input-wrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: #2d3540;
  padding: 10px 20px;
  display: flex;
}

#message-input {
  width: calc(100vw - 100px);
  height: 30px;
  margin: 0px 16px;
  padding: 2px 16px 2px 8px;
  border-radius: 20px;
  font-size: 14px;
}

#message-send-img {
  width: 32px;
  height: 32px;
  padding: 5px;
}

/***  MESSAGE  ***/
.message {
  margin: 8px;
  padding: 12px 12px 18px 52px;
  width: 60%;
  max-width: 300px;
  min-width: 100px;
  border-radius: 8px;
  word-break: break-word;
  line-height: 16px;
  box-shadow: 0 2px 3px #b0b6bb, 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #fdf4eb; /* light orange */
  
}

.align-right {
background: #EAF3F8; /* light blue */
align-self: flex-end;
}

.headline {
  margin-bottom: 10px;
  font-size: 12px;
}

.avatar {
  width: 35px;
  float: left;
  margin-left: -45px;
}

.message p {
  font-size: 12px;
}