html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 15px;
  border: 2px solid aquamarine;
  border-radius: 10px;
}

.sender-name {
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  /* border: 1px solid red; */
}

.sender {
  display: flex;
  /* border: 1px solid blue; */
}

.cw-logo {
  height: 35px;
  width: auto;
  margin: 5px;
  /* border: 1px solid red; */
}

.dev-logo {
  height: 50px;
}

.welcome-text {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-style: italic;
}

.message-text {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  font-style: italic;
}

.smiley {
  font-style: normal;
}

.left-message {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 15px;
  margin-bottom: 7px;
  border: 2px solid aquamarine;
  border-radius: 10px;
  /* border: 1px solid red; */
}

.right-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-bottom: 7px;
}

.message-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 2px solid rgb(5, 226, 241);
  border-radius: 10px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.message-input {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

#external-input {
  width: 100%;
  min-height: 35px;
  margin-left: 15px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid aquamarine;
  border-radius: 10px;
  font-size: 14px;
}

.send-btn {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}

.send-btn img {
  display: flex;
  width: 75%;
  height: auto;
}

.send-btn:hover {
  background-color: rgb(94, 190, 158);
}
