body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 15px;
  border: 2px solid aquamarine;
  border-radius: 10px;
}

.sender-name {
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}

.sender {
  display: flex;
  /* border: 1px solid blue; */
}

.cw-logo {
  height: 30px;
  width: auto;
  margin: 5px;
  /* border: 1px solid red; */
}

.dev-logo {
  height: 50px;
  /* border: 1px solid green; */
}

.welcome-text {
  padding: 5px;
  margin-left: 5px;
  font-style: italic;
}

.message-text {
  padding: 5px;
  margin-left: 5px;
  font-style: italic;
}

.left-message {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 15px;
  border: 2px solid aquamarine;
  border-radius: 10px;
  /* border: 1px solid red; */
}

.right-message {
  display: flex;
  justify-content: flex-end;
}

.message-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 15px;
  border: 2px solid rgb(5, 226, 241);
  border-radius: 10px;
  /* justify-content: flex-end; */
  /* border: 1px solid red; */
}

/* FOOTER */
.footer {
  bottom: 10px;
}

.message-input {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 70px;
  margin-bottom: 15px;
  /* position: fixed;
  bottom: 0; */
}

#external-input {
  width: 100%;
  min-height: 45px;
  margin-left: 15px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid aquamarine;
  border-radius: 10px;
  font-size: 14px;
}

.send-btn {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}

.send-btn img {
  display: flex;
  width: 75%;
  height: auto;
}

.send-btn:hover {
  background-color: rgb(94, 190, 158);
}
